.card {
  width: 350px;
  height: 420px;
  background-color: white;
  border: 1px solid #dbe5e6;
  border-radius: 5px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card:hover {
  box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 551px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 321px) {
  .card {
    height: 300px;
  }
  .card__title {
    font-size: 0.8em !important;
  }
}

.card__image {
  margin-top: -25px;
  width: 100%;
  object-fit: contain;

  border-bottom: 1px solid #dbe5e6;
  transition: transform 0.5s ease;
}

.card__image:hover {
  transform: scale(1.08);
}

.card__languages {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.HTML {
  color: #6cbfce;
}

.CSS {
  color: #4b60a9;
}

.JS {
  color: #e13985;
}

.React {
  color: #5ed3f3;
}

.card__languages > p {
  font-size: 14px;
  font-weight: 800;
  margin-right: 10px;
}

.card__title {
  padding-left: 20px;
  padding-right: 20px;
  color: #2d3440;
  font-size: 15px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  align-items: center;
}

.card__info img {
  object-fit: contain;
  height: 30px;
  cursor: pointer;
}

.card__info > a {
  text-decoration: none;
  color: inherit;
  font-weight: 300;
  color: #8d8d8d;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.card__info > a:hover {
  color: #2d3440;
  font-weight: 500;
}
