.header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: baseline;
}

.header a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 551px) {
  .header {
    padding-left: 5vh;
    padding-right: 5vh;
    align-items: flex-start;
    flex-direction: column;
  }
}

.header__titleInfo > h2 {
  color: #2d3440;
}

.header__titleInfo > p {
  color: #7a8195;
}

.header__options {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: #7a8195;
}

.header__options p {
  margin-right: 20px;
  color: #2d3440;
  font-weight: 500;
}

.header p {
  position: relative;
  padding-bottom: 5px;
}

.header__options p:after {
  margin-bottom: -3px;
  content: "";
  position: absolute;
  border-bottom: 3px solid #2d3440;
  bottom: 0;
  left: 0;
  right: 100%;
  transition: all 500ms;
}

.header__options p:hover:after {
  right: 0;
}

.header__options .selected > p {
  border-bottom: 3px solid #2d3440;
}
