.app {
  padding-left: 10vw;
  padding-right: 10vw;

  padding-top: 5vh;
  padding-bottom: 5vh;

  background-color: #fafafa;
}

@media (max-width: 551px) {
  .app {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
